.cssStuff .Container .Button {
    font-weight: bold;
    font-size: 14px;
    padding: 6 16;
    border-radius: 4.20px;
    transition: all 0.15s;
    cursor: pointer;
    margin-bottom: 5px;
    background-color: rgb(204, 204, 204);
    color: black;
    border: 3px solid rgb(204, 204, 204);
}

.cssStuff .Container .Button:hover {
    background-color: rgb(153, 153, 153);
    border: 3px solid rgb(153, 153, 153);
    color: white;
}

.cssStuff .Container .Button:active {
    background: rgb(119, 119, 119);
    border: 3px solid rgb(119, 119, 119);
    color: white;
}

.cssStuff .Container .Button:focus {
    outline: none;
}