.cssStuff .Container .TextBox3D-Dark {
    background-color: #333333!important;
    border: 3px solid #333333!important;
    box-shadow: 0 5px rgb(32, 32, 32)!important;
}

.cssStuff .Container .TextBox3D-Dark:focus {
    background-color: #0f0f0f!important;
    border: 3px solid #0f0f0f!important;
    color: white;
    box-shadow: 0 1px rgb(8, 8, 8)!important;
}