.cssStuff .Container .Button-Green {
    background-color: #44961f;
    color: white;
    border: 3px solid #44961f;
}

.cssStuff .Container .Button-Green:hover {
    background-color: rgb(55, 126, 23);
    border: 3px solid rgb(55, 126, 23);
}

.cssStuff .Container .Button-Green:active {
    background: #306816;
    border: 3px solid #306816;
}