.cssStuff .Container .Button-Lime-Inverted {
    color: #60cc2d;
    background-color: transparent;
    border: 3px solid #60cc2d;
}

.cssStuff .Container .Button-Lime-Inverted:hover {
    background-color: #60cc2d;
    border: 3px solid #60cc2d;
    color: white;
}

.cssStuff .Container .Button-Lime-Inverted:active {
    background: #3f8120;
    border: 3px solid #3f8120;
    color: white;
}