.cssStuff .Container .Button-NeonGreen {
    background-color: #09DB30;
    color: white;
    border: 3px solid #09DB30;
}

.cssStuff .Container .Button-NeonGreen:hover {
    background-color: rgb(8, 190, 41);
    border: 3px solid rgb(8, 190, 41);
}

.cssStuff .Container .Button-NeonGreen:active {
    background: rgb(8, 160, 35);
    border: 3px solid rgb(8, 160, 35);
}