.cssStuff .Container .Button3D-PartialDrop:hover {
    background-color: rgb(153, 153, 153);
    border: 3px solid rgb(153, 153, 153);
    box-shadow: 0 4px rgb(116, 116, 116);
    transform: translateY(-4px);
}

.cssStuff .Container .Button3D-PartialDrop:active {
    background: rgb(119, 119, 119);
    border: 3px solid rgb(119, 119, 119);
    box-shadow: 0 1px rgb(87, 87, 87);
    transform: translateY(-1px);
}

.cssStuff .Container .Button3D-PartialDrop:focus {
    outline: none;
}